# Dependency directories
node_modules/
server/node_modules/
mobile/node_modules/
web/node_modules/

# Build and export directories
dist/
web/dist/
mobile/dist/
.expo/
mobile/.expo/
web/.expo/

# Environment variables
.env
*/.env
server/.env
mobile/.env
web/.env

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db
.vscode/

# Project specific
web-build/
.pnpm-store/